* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body   {
    font-family: 'Calibri';
    min-width: 280px;
    width: 100%;
    min-height: 653px;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    text-align: center;
    margin: auto;
    margin-top: 20vh;
    width: 50%;
  }
  
th, td {
    padding: 1em;
    background: rgb(70, 130, 180);
    border-bottom: 4px solid white; 
}

th {
    color: black;
}

tbody, td {
    background: rgb(135, 206, 250);
}